

.navbar{
    background-color: rgb(2, 104, 104);
    padding: 20px 50px;
    display: flex;
    gap: 50px;
}

.navbar > div{
    display: flex;
    gap: 30px;
}

.btnNav{
    background: transparent;
    padding: 8px 20px;
    border: 1px solid white;
    font-size: 15px;
    cursor: pointer;
    color: white;
}

.btnNav:hover{
    background-color: rgb(105, 4, 200);
}

.btnNav a{
    color: white;
    text-decoration: none;
}